@import url(reset.css);

@keyframes sakra {
	0%{
		background-color: aqua;
	}
	100%{
		background-color: gold;
	}
}

@keyframes oyna {
	0%{
		width: 300px;
		background-color: gray;
	}
	30%{
		transform: rotate(90deg);
	}
	70%{
		transform: rotate(180deg);
		height: 200px;
	}
	100%{
		width: 100%;
		background-color: green;
	}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.block {
	background-color: crimson;
	padding: 25px;
	width: 400px;
	color: white;
	font-size: 24px;
	text-align: center;
	margin: 30px 0;
}
.block1 {
	animation-name: sakra;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 2;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-fill-mode: none;
	animation-direction: alternate-reverse;
}
.block2 {
	animation: oyna 3s 1s 3 alternate-reverse forwards;	
}
.block3 {
	/* animation: oyna 1s ease-in 2s infinite; */
}
.block4 {
}
.link {
	display: inline-block;
	margin: 30px auto;
	padding: 15px 30px;
	border-radius: 30px;
	background-color: crimson;
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	animation: knopka 1s infinite alternate-reverse;
}
.link:hover {
	animation-play-state: paused;
}
@keyframes knopka {
	0%{
		transform: scale(1);
	}
	20%{
		background-color: yellow;
	}
	80%{
		background-color: aqua;
		color: black;
	}
	100%{
		transform: scale(1.5);
		background-color: crimson;
	}
}

.yordam {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	/* position: relative; */
}
.yordam::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	border: 3px solid red;
	animation: puls 1s infinite;
}
@keyframes puls {
	0%{
		opacity: 1;
		transform: scale(1);
		border-width: 5px;
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
		border-width: 0px;
	}
}